div {
    font-family: Arial, Helvetica, sans-serif;
}

.first-exercise {
    display: flex;
    flex-direction: row;
}

.lightblue {
    background-color: lightblue;
}

.lightpink {
    background-color: lightpink;
}

.item1 {
    width: 200px;
}

.item2 {
    width: 75px;
}

/*Second Exercise*/

.second-exercise {
    display: flex;
}

.item12 {
    width: 50px;
}

.item22 {
    flex: 1;
}
.item32 {
    width: 75px;
}

/*Third Exercise*/

.third-exercise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Fourth Exercise*/

.fourth-exercise {
    border: 1px solid gray;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*Fifth Exercise*/

.notifications-box {
    border: 1px solid gray;
    border-radius: 6px;
    width: 300px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 20px;
}

.notifications {
    background-color: dodgerblue;
    color: white;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

/* Sixth Exercise */

.header {
    display: flex;
    width: auto;
    background-color: rgb(120, 82, 178);
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
}

.logo {
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 12px;
}

.search-bar {
    flex: 1;
    max-width: 500px;
}

input {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 30px;
    border: none;
    padding-left: 15px;
    margin-right: 12px;   
}

.download-button {
    background-color:  rgb(120, 82, 178);
    padding: 8px 15px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    margin-right: 12px;
    margin-left: 12px;
}

.download-button:hover {
    background-color:  white;
    color: rgb(120, 82, 178);
    cursor: pointer;
}

/* Seventh Exercise */


.follow-flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    
}

.follow-flexbox p {
    margin: 0;
    padding: 10;
    width: 200px;
    line-height: 20px;
}

.profile-info {
    display: block;
}

img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.user-name {
    font-weight: bold;
    margin-bottom: 3px;
}

.user-name:hover {
 cursor: pointer;
}

.user-info,
.user-subinfo {
    color: gray;
}

.user-subinfo {
    font-size: 14px;
}

.follow-button {
    background-color: dodgerblue;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: opacity 0.15s;
}

.follow-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.follow-button:active {
    opacity: 0.4;
}